.header
  padding: 48px 0
  height: 100vh //a ver
  display: flex //a ver
  align-items: center //a ver
  justify-content: center //a ver
  &__wrapper
    display: flex
    justify-content: center
  &__logo
    height: 56px
    display: flex //a ver
    align-items: center //a ver
    overflow: hidden //a ver
    transform: scale(2) //a ver
    @include sm
      transform: none //a ver
    @include xs
      height: auto //a ver
    @include xxs
      height: 30px //a ver
    img
      max-height: 100%
      object-fit: contain
      visibility: hidden //a ver
      &:last-child //a ver
        margin-left: 14px //a ver

